{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/detail.css' %}">
        <title>
            {% block title %}Recipe - {{object.name}}{% endblock %}
        </title>
    </head>
    <body>
        {% block content %}
            <h1 style="text-align: center">Details: {{object.name}}</h1>
            <br>
            <div class="details-container">
                <b>Ingredients: </b> {{object.ingredients}}

                <br>

                <b>Cooking Time in Minutes: </b> {{object.cooking_time}}

                <br>

                <b>Difficulty: </b> {{object.difficulty}}

                <br>

                <img src="{{object.pic.url}}" alt="{{object.name}}">
            </div>
        {% endblock %}
    </body>
</html>