{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Recipes Home
        </title>
        <link rel="stylesheet" href="{% static 'recipes/css/home.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Recipes App</h1>
            
            <br>
            
            <a href="{% url 'login' %}">Login</a>
        </div>
    </body>
</html>