body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.details-container {
    width: 40%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}